<div class="form-contact" id="restons-en-contact">
    <div class="form-contact-container">
        <div class="col-1">
            <div class="home-contact-title">
                <h2>Discutons</h2>
            </div>
            <p>
                Tu peux me laisser un petit message avec ce formulaire si le coeur t'en dit ! <br>
                🌞
            </p>

            <div class="image">
                <img src="{{ asset('build/app/images/contact.jpg') }}" alt="illustration photo contact">
            </div>
        </div>
        <div class="col-2">
            <div id="contact">
                <div class="spinner">
                    <span class="icon-refresh"></span>
                    <span>Chargement des données...</span>
                </div>
            </div>
        </div>
    </div>
</div>
