{% extends 'app/pages/blog/template.html.twig' %}

{% block title %}Les histoires de Burrito{% endblock %}

{% block main_content %}
    <div class="page-header">
        <div class="title-page">
            <h1>Les histoires d'el Burrito 🌯</h1>
            <p>A travers mes photos et récits, j'espère vous donner l'envie de voyager ou, du moins, vous extirper de votre quotidien.</p>
        </div>
    </div>
    <div class="main-content">
        <div class="articles">
            <div class="line-1">
                <div class="col-1">
                    <div class="main-card">
                        <div class="image">
                            <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="me-card">
                        <div class="avatar">
                            <img src="{{ asset('build/app/images/avatar.jpg') }}" alt="avatar chanbora chhun">
                        </div>
                        <div class="name">
                            <div>Chanbora</div>
                            <div>CHHUN</div>
                        </div>
                        <div class="contact">
                            <a href="#restons-en-contact" class="btn btn-danger">🤝 Discutons</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
