{% extends 'app/pages/photos/template.html.twig' %}

{% block title %}Les histoires de Burrito{% endblock %}

{% block main_content %}
    <div class="page-header">
        <div class="title-page">
            <h1>Les histoires d'el Burrito 🌯</h1>
            <p>A travers les </p>
        </div>
    </div>
    <div class="main-content">
    </div>
{% endblock %}
