@import "../vars/vars";

@import "../../../common/css/components/menu";

nav{
  background-color: var(--color0-1);
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  box-shadow:
          6.5px 2.7px 5.3px rgba(0, 0, 0, 0.02),
          21.9px 8.9px 17.9px rgba(0, 0, 0, 0.03),
          98px 40px 80px rgba(0, 0, 0, 0.05)
;

  .nav-header-logo {
    padding: 0;
  }
}

.nav-mobile{
  font-size: 24px;
  top: 12px;
  right: 12px;
  color: var(--alpha);
}

.nav-body{
  background-color: var(--color0-1);

  a{
    color: var(--fondContent);

    &.active{
      color: var(--alpha);
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  nav{
    width: 4%;
    height: 94vh;
    z-index: 1000;
    border-right: none;
    transition: all 0.2s ease-in-out;

    &:hover{
      width: 12%;

      .nav-header-logo, .nav-body a span:last-child{
        opacity: 1;
        z-index: 1;
      }
    }

    .nav-header-logo{
      opacity: 0;
      z-index: -1;
      text-align: center;
      padding-top: 12px;
      transition: all 0.2s ease-in-out;
    }
  }

  .nav-body{
    overflow: initial;
    min-height: 84vh;
    max-height: 84vh;

    .items{
      width: 100%;
    }

    a{
      span:last-child{
        opacity: 0;
        z-index: -1;
        min-width: 200px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  nav{
    margin: 32px 24px;
    height: 902vh;
    padding-bottom: 24px;
  }

  .nav-body{
    a{
      padding: 12px 16px;

      [class^="icon-"]{
        font-size: 18px;
      }
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .nav-body{
    a{
      padding: 16px 20px;

      [class^="icon-"]{
        font-size: 20px;
      }
    }
  }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
  .nav-body{
    a{
      padding: 12px 28px;
    }
  }
}
