@import "../vars/vars";

@import "../../../common/css/components/submenu";

.submenu{
  background-color: var(--color0);
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .submenu-container{
    max-width: initial;
    margin: 0;
  }
}
