@import "../../../vars/vars";

.list-photos{
  img {
    width: 100%;
  }

  .grid{
    width: calc(100% + 12px);
  }

  .grid-sizer,
  .grid-item {
    width: calc(50% - 12px);
    margin-bottom: 12px;
  }

  //                      __   _  ___ ____  _  _     __
  //                     | _| / |/ _ \___ \| || |   |_ |
  //    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
  //   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
  //                     | |  |_|\___/_____|  |_|    | |
  //                     |__|                       |__|
  @media (min-width: 1024px) {
    .grid-sizer,
    .grid-item {
      width: calc(33.7% - 12px);
    }

    nav.fixed {
      & + main {
        margin-top: 66px;
      }
    }
  }

  //                      __   _ ____  ___   ___    __
  //                     | _| / |___ \( _ ) / _ \  |_ |
  //    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
  //   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
  //                     | |  |_|_____\___/ \___/   | |
  //                     |__|                      |__|
  @media (min-width:1280px) {
    .grid-sizer,
    .grid-item {
      width: calc(25% - 24px);
      margin-bottom: 24px;
    }
  }
}
