{% extends 'app/pages/photos/template.html.twig' %}

{% block meta_description %}
    Je poste sur cette page quelques photos non libre de droit afin montrer mon travail en tant que photographe.
    Merci de faire une demande si vous souhaitez utiliser une ou des photos pour votre utilisation personnel ou commercial.
{% endblock %}
{% block meta_keywords %}photographe, marseille, photographe marseille, photographe mariage, photo mariage, photo portrait{% endblock %}

{% block title %}Des photos en vrac de Chanbora Chhun photographe à Marseille{% endblock %}

{% block main_content %}
    <div class="page-header">
        <div class="title-page">
            <h1>Quelques photos en vrac 😳</h1>
            <p>
                Pour utiliser les photos ci-dessous, veuillez en faire la demande
                grâce au <a href="#restons-en-contact">formulaire de contact</a>.
                <br><br>
                Sinon, vous pouvez me retrouver sur
                <a href="https://unsplash.com/@shanbora" target="_blank"><b>Unsplash</b></a>
                car je poste des photos gratuites d'utilisation sur cette plateforme.
            </p>
        </div>
    </div>
    <div class="main-content">
        <div class="grid">
            <div class="grid-sizer"></div>
            {% for i in 1..127 %}
                <div class="grid-item">
                    <img src="{{ asset('photos/1 ('~i~').jpg') }}" loading="lazy" alt="photo-{{ i }}" >
                </div>
            {% endfor %}
        </div>

{#        <div class="masonry">#}
{#            {% for i in 1..60 %}#}
{#                <div class="mItem">#}
{#                    <img src="{{ asset('build/app/images/photos/1 ('~i~').jpg') }}">#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}
