{% extends 'app/pages/photos/template.html.twig' %}

{% block title %}Photos{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="masonry">
            {% for i in 1..60 %}
                <div class="mItem">
                    <img src="{{ asset('build/app/images/photos/1 ('~i~').jpg') }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
