{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Photos{% endset %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div id="photos" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
