{% extends 'user/pages/albums/template.html.twig' %}

{% set page_title %}Dash{% endset %}

{% block main_content %}
    <div class="main-content">
        <div class="list-albums">
            <div class="album create-album">
                <span class="icon-add"></span>
            </div>
        </div>
    </div>
{% endblock %}
