{% extends 'user/pages/albums/template.html.twig' %}

{% set page_title %}Dash{% endset %}

{% block main_content %}
    <div class="main-content">
        <div id="album-read"
             data-element="{{ element }}"
             data-groups="{{ groups }}"
        >
            {% include "dashboard/layout/components/spinner.html.twig" %}
        </div>
    </div>
{% endblock %}
