{% extends 'user/pages/photos/template.html.twig' %}

{% set page_title %}Dash{% endset %}

{% block main_content %}
    <div class="main-content">
        <div class="list-photos">
            <a class="photo create-photo">
                <span class="icon-add"></span>
            </a>
            {% for elem in data %}
                <div class="photo">
                    <img src="{{ elem.file }}" alt="photo {{ loop.index }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
