@import "../../../dashboard/css/vars/fonts";

@font-face {
  font-family: 'Noto Sans';
  src: url('../../fonts/notosans-regular-webfont.woff2') format('woff2'),
  url('../../fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
