{% extends 'app/pages/blog/template.html.twig' %}

{% block title %}A la rencontre de Lyon {{ title_end }}{% endblock %}

{% set pathImages = "build/app/images/articles/" %}

{% block main_content %}
    <div class="main-content">
        <div class="article">
            {% include "app/pages/blog/articles/components/header.html.twig" with {
                date: "10 Novembre 2020", map: "Lyon, France"
            } %}
            <div class="title">
                <h1>A la rencontre de Lyon</h1>
            </div>
            <div class="content">
                <p>
                    Après plus de 5 ans d'attente, me voici enfin arrivé à Lyon pour un petit week end !
                    J'ai la chance d'avoir un guide personnel qui n'est nul autre que mon cousin John.
                </p>
                <p>
                    Ce week end débute à mon arrivé sous les coups de 22h suite à un retard de train.
                    <br>
                    Direction le quartier de ****** pour rejoindre l'appartement de Johnny et manger un délicieux
                    plat : <b>LE POULET KFC</b> ! Quel bonheur. Le soda versé dans un verre, les frites étalées dans
                    une assiette et le fameux poulet dans un plat à four. Ca n'a rien à voir avec Lyon, mais cet
                    instant était magique.
                </p>
                <img src="{{ asset(pathImages~'lyon-1.jpg') }}" alt="Illustration ville et monument avec un pont">
            </div>
        </div>
    </div>
{% endblock %}
