@import "../vars/vars";

@import "./split/article";

.page-header{
  position: relative;
  background: url("../../images/contact.jpg") no-repeat fixed center;
  background-size: cover;

  .title-page{
    position: relative;
    z-index: 1;
  }

  &:before{
    content: "";
    background: linear-gradient(135deg, rgba(34,30,41,0.7) 37%, rgba(0,9,13, 1) 96%);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(10px);
  }
}

.articles{
  margin-bottom: 48px;

  .line-1{
    margin-bottom: 24px;

    .col-1{
      margin-bottom: 24px;
    }
  }
}

.main-card, .me-card, .card{
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--greyShadow);
}

.main-card, .card{
  display: block;
  padding: 12px 12px 24px 12px;

  &:hover{
    .image{
      img{
        transform: scale(1.02);
      }
    }
  }

  .image{
    height: 180px;
    overflow: hidden;
    border-radius: 8px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
    }
  }

  .date{
    margin-top: 12px;
    color: var(--grey2);
    font-size: 14px;
  }

  .title{
    width: 100%;
    @include fontSemibold();
    font-size: 1.6em;
    margin: 8px 0;
  }

  .content{
    font-size: 15px;
    opacity: 0.86;
  }
}

.card{
  margin-bottom: 24px;
  color: var(--txt);
  background-color: var(--alpha);
}

.main-card{
  color: var(--alpha);
  background-color: var(--color2);
}

.me-card{
  @include flex(column, center, center);
  padding: 18px 12px 24px 12px;
  background-color: var(--alpha);
  height: calc(100% - 24px - 18px);

  .avatar{
    width: 110px; height: 110px;
    border-radius: 200px;
    overflow: hidden;
  }

  .name{
    @include fontSemibold();
    font-size: 1.3em;
    margin: 8px 0;
    text-align: center;
  }

  .socials{
    margin-bottom: 24px;

    & > a {
      color: var(--color0);
      text-decoration: underline;
    }
  }

  .text{
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .articles{
    .line-2{
      @include flex(row, stretch, flex-start);
      flex-wrap: wrap;
    }
  }

  .card{
    width: calc(50% - 24px - 12px);

    &:nth-child(odd){
      margin-right: 12px;
    }
    &:nth-child(even){
      margin-left: 12px;
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .articles{
    .line-1{
      @include flex(row, stretch, flex-start);
      margin-bottom: 48px;

      .col-1{
        width: calc(100% - 280px - 24px);
        margin-right: 24px;
        margin-bottom: 0;
      }

      .col-2{
        width: 280px;
      }
    }

    .line-2{
      width: calc(100% + 24px);
    }
  }

  .main-card{
    padding: 24px 24px 48px 24px;

    .image{
      height: 280px;
    }
  }

  .me-card{
    padding: 18px 24px 24px 24px;
  }

  .card{
    width: calc(33.3% - 24px - 24px);

    &:nth-child(odd){
      margin-right: 24px;
    }
    &:nth-child(even){
      margin-left: 0;
      margin-right: 24px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  h1{
    font-size: 3.6em;
  }

  .main-card{
    .date{
      font-size: 16px;
    }

    .title{
      font-size: 1.8em;
    }

    .content{
      font-size: 17px;
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .main-card{
    .image{
      height: 380px;
    }
  }
}