@import "../vars/vars";

.btn-danger{
  background-color: var(--color0);
}

.home-header{
  background-color: var(--color3);

  .home-header-container{
    padding: 24px 12px;

    & > .col-1{
      &:hover{
        & + .col-2{
          .image{
            img{
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }

  .image{
    overflow: hidden;

    img{
      transition: all 0.5s ease-in-out;

      &:hover{
        transform: scale(1.03);
      }
    }
  }

  .present{
    margin-bottom: 24px;

    h1{
      color: var(--fond);
    }

    .subtitle{
      @include flex(row, center, flex-start);
      @include fontSemibold();
      color: var(--color0);
      margin-bottom: 8px;

      &:before{
        content: "";
        background-color: var(--color0);
        display: inline-block;
        width: 48px;
        height: 4px;
        margin-right: 8px;
      }
    }

    p{
      color: var(--grey2);
    }

    .actions{
      margin-top: 24px;

      a{
        width: calc(100% - 48px);

        &:not(:last-child){
          margin-bottom: 8px;
        }
      }

      .btn-danger{
        background-color: var(--color0);
      }

      .btn-outline-danger{
        background-color: transparent;
        color: var(--color0);
        border-color: var(--color0);
      }
    }
  }
}

.form-contact,
.home-contact {
  .form-contact-container,
  .home-contact-container {
    padding: 48px 12px;
  }

  .home-contact-title {
    @include flex(column, center, center);

    &:after {
      content: "";
      background-color: var(--color0);
      display: block;
      width: 48px;
      height: 4px;
      margin: 24px 0;
    }
  }
}

.home-contact{
  .home-contact-content{
    @include flex(column, center, center);
    max-width: 525px;
    margin: 0 auto;

    p{
      text-align: center;
      line-height: 1.32;
    }

    .links{
      margin: 12px 0;
      @include fontSemibold();

      a{
        color: var(--color0);
        border-bottom: 1px solid transparent;

        &:not(:last-child){
          margin-right: 8px;
        }

        &:hover{
          border-color: var(--color0);
        }
      }
    }

    form{
      margin-top: 24px;
      @include flex(row, stretch, flex-start);

      input{
        width: calc(100% - 203px);
        border-radius: 4px 0 0 4px;
      }

      .btn-danger{
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.form-contact{
  background: linear-gradient(#07080d, #0c293c);

  .alert{
    margin-bottom: 24px;
  }

  .form-contact-container{
    background-color: var(--fond);

    & > .col-1{
      p{
        text-align: center;
      }

      .image{
        margin: 24px 0;
      }
    }
  }

  textarea { resize: none; }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .home-header{
    .home-header-container{
      @include flex(row, flex-start, flex-start);
      padding: 0;

      & > .col-1{
        width: 60%;
      }

      & > .col-2{
        width: 40%;
      }

      .present{
        padding: 128px 48px 128px 12px;
        margin-bottom: 0;

        h1{
          font-size: 46px;
        }

        .subtitle{
          font-size: 18px;
        }

        p{
          font-size: 20px;
          max-width: 525px;
        }

        .actions{
          @include flex(row, flex-start, flex-start);
          margin-top: 32px;

          a{
            &:not(:last-child){
              margin-bottom: 0;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }

  .home-contact {
    .home-contact-container {
      padding: 128px 0;
    }

    .home-contact-content{
      form{
        width: 74%;
        margin-top: 48px;
      }

      .links{
        margin: 24px 0;
      }
    }

    h2{
      font-size: 32px;
    }
  }

  .form-contact{
    padding: 128px 12px;

    h2{
      font-size: 32px;
    }

    .form-contact-container{
      @include flex(row, flex-start, flex-start);
      max-width: 1024px;
      margin: 0 auto;

      & > .col-1{
        width: 320px;
        @include flex(column, center, center);

        .image{
          margin: 24px 0 0 0;

          img{
            max-height: 314px;
          }
        }
      }

      & > .col-2{
        width: calc(100% - 320px - 48px);
        margin-left: 48px;
      }
    }

    #contact{
      margin-top: 80px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .home-header{
    .home-header-container{
      .present{
        padding-left: 32px;
        max-width: 768px;

        h1{
          font-size: 56px;
        }

        .actions{
          a{
            width: auto;
            padding: 16px 32px 15px 32px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .home-contact {
    .home-contact-content{
      p{
        font-size: 17px;
      }
    }
  }

  .form-contact {
    .form-contact-container {
      padding: 72px 48px;
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .home-header{
    .home-header-container{
      @include maxscreen();

      .present{
        padding-left: 0;
      }
    }
  }
}