@import "../vars/vars";

img {
  width: 100%;
}
.grid-sizer,
.grid-item {
  width: calc(25% - 24px);
  margin-bottom: 24px;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  nav.fixed {
    & + main {
      margin-top: 66px;
    }
  }
}