@import "../vars/vars";

img {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 100%;
  margin-bottom: 12px;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .grid-sizer,
  .grid-item {
    width: calc(50% - 12px);
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .grid-sizer,
  .grid-item {
    width: calc(33.7% - 12px);
  }

  nav.fixed {
    & + main {
      margin-top: 66px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .grid-sizer,
  .grid-item {
    width: calc(25.5% - 24px);
    margin-bottom: 24px;
  }
}

//                      __   _ _____  __    __     __
//                     | _| / |___ / / /_  / /_   |_ |
//    _____ _____ _____| |  | | |_ \| '_ \| '_ \   | |_____ _____ _____
//   |_____|_____|_____| |  | |___) | (_) | (_) |  | |_____|_____|_____|
//                     | |  |_|____/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1366px){
  .grid-sizer,
  .grid-item {
    width: calc(25.4% - 24px);
  }
}
