@import "../vars/vars";

@import "../../../common/css/components/footer";

footer{
  background-color: var(--alpha);
  border-top: 2px solid var(--color0);
}

.footer-logo{
  a{
    @include fontBold();
    font-size: 20px;
  }
}