@import "../vars/vars";

@import "../../../common/css/components/footer";

.form-contact,
.home-contact {
  .form-contact-container,
  .home-contact-container {
    padding: 48px 12px;
  }

  .home-contact-title {
    @include flex(column, center, center);

    &:after {
      content: "";
      background-color: var(--color0);
      display: block;
      width: 48px;
      height: 4px;
      margin: 24px 0;
    }
  }
}

.home-contact{
  .home-contact-content{
    @include flex(column, center, center);
    max-width: 525px;
    margin: 0 auto;
    padding: 0 12px;

    p{
      text-align: center;
      line-height: 1.32;
    }

    .links{
      margin: 12px 0;
      @include fontSemibold();

      a{
        color: var(--color0);
        border-bottom: 1px solid transparent;

        &:not(:last-child){
          margin-right: 8px;
        }

        &:hover{
          border-color: var(--color0);
        }
      }
    }

    form{
      margin-top: 24px;
      @include flex(row, stretch, flex-start);

      input{
        width: calc(100% - 203px);
        border-radius: 4px 0 0 4px;
      }

      .btn-danger{
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.form-contact{
  background: linear-gradient(#07080d, #0c293c);
  padding: 12px;

  .alert{
    margin-bottom: 24px;
  }

  .form-contact-container{
    background-color: var(--fond);
    border-radius: 12px;

    & > .col-1{
      p{
        text-align: center;
      }

      .image{
        margin: 24px 0;
        @include flex(row, center, center);

        img{
          max-width: 414px;
        }
      }
    }
  }

  textarea { resize: none; }
}

footer{
  background-color: var(--fondContent);
  border-top: 4px solid var(--color0);
}

.footer-logo{
  a{
    @include fontBold();
    font-size: 20px;
  }
}

.home-contact {
  .home-contact-container {
    padding: 128px 0;
  }

  .home-contact-content{
    form{
      width: 74%;
      margin-top: 48px;
    }

    .links{
      margin: 24px 0;
    }
  }

  h2{
    font-size: 32px;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .form-contact{
    padding: 128px 12px;

    h2{
      font-size: 32px;
    }

    .form-contact-container{
      @include flex(row, flex-start, flex-start);
      max-width: 1024px;
      margin: 0 auto;

      & > .col-1{
        width: 320px;
        @include flex(column, center, center);

        .image{
          margin: 24px 0 0 0;

          img{
            max-height: 314px;
          }
        }
      }

      & > .col-2{
        width: calc(100% - 320px - 48px);
        margin-left: 48px;
      }
    }

    #contact{
      margin-top: 80px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .home-contact {
    .home-contact-content{
      p{
        font-size: 17px;
      }
    }
  }

  .form-contact {
    .form-contact-container {
      padding: 72px 48px;
    }
  }
}
