{% extends 'app/layout/layout.html.twig' %}

{% block title %}Chanbora Chhun développeur web et photographe à Marseille{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}


{% block main_content %}
    <div class="home-header">
        <div class="home-header-container">
            <div class="col-1">
                <div class="present">
                    <div class="subtitle">Explorateur développeur</div>
                    <h1>Salut, je m'appelle <br>
                        Chanbora Chhun. <br>
                        Je suis Développeur Web à Marseille.</h1>
                    <p>
                        Depuis quelques années, je développe des sites web, principalement,
                        avec le framework Symfony, le grand Javascript et du Sass. Récemment,
                        je me suis mis au React dans certains de mes projets !
                    </p>

                    <div class="actions">
                        <a href="{{ path('app_contact') }}" class="btn btn-danger">Restons en contact !</a>
                        <a href="#mon-travail" class="btn btn-outline-danger">Mon travail</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="image">
                    <img src="{{ asset('build/app/images/homepage.jpg') }}" alt="illustration chanbora chhun">
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">

    </div>
{% endblock %}
